@import '../core/variables';
@import '../core/media_query';

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.product_container{
    margin: 25px 25px;
    display: block;

    .product_layout_page{
        display: flex;
        flex-direction: row;

        .product_image_container{

            width: 90%;
            max-height: 600px;

            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .product_info{

            margin: 0px 20px;

            .rating_product_container{
                display: flex;
                flex-direction: row;
                align-items: center;

                p{
                    margin: 0px;
                    padding-right: 10px;
                }
            }

            h2{
                font-family: $base-headings;
            }

            p{
                font-family: $base-front;
            }

        }
    }

}

@media only screen and (max-width: $media_query_mediam_CP){
    .product_container{

        .product_layout_page{

            .product_image_container{

                min-width: 240px;

                img{
                   object-fit: contain;
                }
            }
        }
    }
}

@media only screen and (max-width: $media_query_large_tablet){
    .product_container{

        .product_layout_page{

            flex-direction: column;

            .product_image_container{

                display: flex;
                justify-content: center;
                width: 100%;

                img{
                    width: 50%;
                }

            }
            
        }
    }
}


