body{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;

    .aboutContainer{

        width: 100%;
        
        .aboutContainerItem{
            margin: 0px 25px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            

            h2{
                font-family: $base-headings;
            }

            .aboutContainerInformation{
                p{
                    font-family: $base-front;

                    a{
                        color: black;
                        &:hover{
                            color: $main-green-colour;
                        }
                    }
                }
            }
        }
    }

}