@import '../core/variables';


.basketListContainer{
    display: flex;
    flex-direction: column;
    margin: 20px 25px;
    background-color: lightgray;


    .basketItem{
        height: 220px;
        background: white;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 20px 20px 20px 20px;

        @media only screen and (max-width: $media_query_xlarge_tablet) {
            height: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }


        .basketImage img{
            background-color: white;
            height: 100%;
            width: 280px;
            box-sizing: border-box;
            object-fit: contain;
            padding: 5px;
            border: 5px solid white;
        }

        .basketItemContainer{
            width: 100%;
            box-sizing: border-box;

            @media only screen and (max-width: $media_query_xlarge_tablet) {
                margin-bottom: 25px;
            }

            .basketItemData{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                height: 100%;

                &:hover > .basketNavigation{
                    animation-name: navBar;
                    animation-duration: 1s;
                    animation-timing-function: ease;
                    animation-fill-mode: forwards;
                }

                .basketInformation{
                    margin: 0px;
                    padding: 0px;
                    width: 100%;

                    @media only screen and (max-width: $media_query_xlarge_tablet) {
                       display: flex;
                       flex-direction: column;
                       align-items: center;
                    }
    

                    h2{
                        font-family: $base-front;
                        @media only screen and (max-width: $media_query_xlarge_tablet) {
                            margin: 0px;
                            text-align: center;
                         }
                    }

                    p{
                        font-family: $base-front;
                    }

                    .basketNavigationDeleteSmallScreen{

                        display: none;
                        margin-top: 15px;

                        button{

                            background-color: white;
                            border: none;
                            cursor: pointer;

                            i{
                                color: red;
                            }
                            
                        }

                        @media only screen and (max-width: $media_query_xlarge_tablet) {
                            display: block;
                        }

                    }

                    .fullFormContainer{

                        display: flex;
                        flex-direction: row;

                        button{
                            display: inline;
                            height: 45px;
                            width: 45px;
                            background: white;

                            &:hover{
                                background-color: $main-green-colour;
                                color: white;
                            }
                        }

                        .addButton{
                            border-left: 4px solid $main-green-colour;
                            border-top: 4px solid $main-green-colour;
                            border-bottom: 4px solid $main-green-colour;
                            border-right: none;
                        }

                        .minusButton{
                            border-right: 4px solid $main-green-colour;
                            border-top: 4px solid $main-green-colour;
                            border-bottom: 4px solid $main-green-colour;
                            border-left: none;
                        }

                        form{
                            
                            position: relative;
                            height: 45px;
                            display: inline-flex;
                            flex-direction: row;

                            .submitButtonStyle{
                                border-right: solid $main-green-colour 4px;
                                border-left: none;
                                border-top: solid $main-green-colour 4px;
                                border-bottom: solid $main-green-colour 4px;
                                background: white;
                                &:hover{
                                    background-color: $main-green-colour;
                                    color: white;
                                }
                            } 

                            .quantityValue{
                                width: 45px;
                                text-align: center;
                                border-right: none;
                                border-top: solid $main-green-colour 4px;
                                border-left: solid $main-green-colour 4px;
                                border-bottom: solid $main-green-colour 4px;
                                font-size: 16px;
                            }
                        }
                    }
                }

                .basketNavigation{
                    display: flex;
                    width: 0px;
                    z-index: 1;
                    animation-name: noanimation;
                    animation-duration: 1s;
                    animation-timing-function: ease;
                    animation-fill-mode: forwards;
                    overflow: hidden;
                    height: inherit;
                    justify-content: center;
                    align-items: center;
                    background-color: $main-grey;

                    @media only screen and (max-width: $media_query_xlarge_tablet) {
                        display: none;
                    }

                    @keyframes navBar {
                        from{
                            width: 0px;
                        }
                        to{
                            width: 100px;
                        }
                    }

                    @keyframes noanimation {
                        from{
                            width: 100px;
                        }
                        to{
                            width: 0px;
                        }
                    }
                    
                    button{
                        height: 45px;
                        width: 45px;
                        background: $main-grey;
                        border: none;
                        color: red;
                        cursor: pointer;
                    }
                }
            }
        } 

    } 
}

