
.basket_list_container{

    display: flex;
    flex-direction: column;
    margin: 20px 25px;
    padding-bottom: 20px;
    background-color: lightgray;

    .basket_item{

        height: 220px;
        background: white;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 20px 20px 0px 20px;


        .basket_image img{
            background-color: white;
            height: 100%;
            width: 280px;
            box-sizing: border-box;
            object-fit: contain;
            padding: 5px;
            border: 5px solid white;
        }

        .basket_item_container{
            width: 100%;

            .basket_item_data{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                height: 100%;

                &:hover > .basket_navigation{
                    animation-name: navBar;
                    animation-duration: 1s;
                    animation-timing-function: ease;
                    animation-fill-mode: forwards;
                }

                .basket_information{
                    margin: 0px;
                    padding: 0px;
                    h2{
                        font-family: $base-front;
                        overflow: hidden;
                    }

                    p{
                        font-family: $base-front;
                    }
                    button{
                        display: inline;
                        height: 45px;
                        width: 45px;
                        border: 4px solid $main-green-colour;
                        background: white;

                        &:hover{
                            background-color: $main-green-colour;
                            color: white;
                        }
                    }

                    form{
                        top: 1px;
                        position: relative;
                        height: 45px;
                        display: inline-flex;

                        .submitButtonStyle{
                            border-right: solid $main-green-colour 4px;
                            border-left: none;
                            border-top: solid $main-green-colour 4px;
                            border-bottom: solid $main-green-colour 4px;
                            background: white;
                            &:hover{
                                background-color: $main-green-colour;
                                color: white;
                            }
                        } 

                        .quantityValue{
                            width: 45px;
                            text-align: center;
                            border-right: none;
                            border-top: solid $main-green-colour 4px;
                            border-left: solid $main-green-colour 4px;
                            border-bottom: solid $main-green-colour 4px;
                            font-size: 16px;
                        }
                    }
                }

                .basket_navigation{
                    display: flex;
                    width: 0px;
                    animation-name: noanimation;
                    animation-duration: 1s;
                    animation-timing-function: ease;
                    animation-fill-mode: forwards;
                    overflow: hidden;
                    height: inherit;
                    justify-content: center;
                    align-items: center;
                    background-color: $main-grey;

                    @keyframes navBar {
                        from{
                            width: 0px;
                        }
                        to{
                            width: 100px;
                        }
                    }

                    @keyframes noanimation {
                        from{
                            width: 100px;
                        }
                        to{
                            width: 0px;
                        }
                    }
                    
                    button{
                        height: 45px;
                        width: 45px;
                        background: $main-grey;
                        border: none;
                        color: red;
                        cursor: pointer;
                    }
                }
            }
        } 

    } 
    
}