
.formContainer{

    button{
        display: inline;
        height: 45px;
        width: 45px;
        background: white;

        &:hover{
            background-color: $main-green-colour;
            color: white;
        }
    }

    .quantityValue{
        border-left: none;
        border-right: none;
        border-top: 4px solid $main-green-colour;
        border-bottom: 4px solid $main-green-colour;
        text-align: center;
        margin: 0px;
    }

    .addItem{
        border-left: 4px solid $main-green-colour;
        border-right: none;
        border-top: 4px solid $main-green-colour;
        border-bottom: 4px solid $main-green-colour;
    }

    .reduceItem{
        border-left: none;
        border-right: 4px solid $main-green-colour;
        border-top: 4px solid $main-green-colour;
        border-bottom: 4px solid $main-green-colour;
    }

    .submitButtonStyle{
        border: solid $main-green-colour 4px;
        height: 45px;
        margin-left: 30px;
        
        background: white;
        &:hover{
            background-color: $main-green-colour;
            color: white;
        }
    } 

    form{
        top: 1px;
        position: relative;
        height: 45px;
        display: inline-flex;


        .quantityValue{
            width: 45px;
            text-align: center;
            border-right: none;
            font-size: 16px;
        }


    }
}