@import '../core/variables';
@import '../core/media_query';

.productSection{
    width: 100%;
    height: 250px;

    .productSectionContainerHeaderForm{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0px 25px;

        form{
            display: flex;
            flex-direction: row;
            font-family: $base-front;

            label{
                height: 35px;
                width: 100px;
                font-size: 16px;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                border-top: 3px solid $main-green-colour;
                border-bottom: 3px solid $main-green-colour;
                border-left:  3px solid $main-green-colour;
                border-right: none;

                p{
                    position: relative;
                    bottom: 1px;
                }
            }
            
            select{
                width: 180px;
                text-align:  center;
                font-size: 16px;
                border-top: 3px solid $main-green-colour;
                border-bottom: 3px solid $main-green-colour;
                border-left: none;
                border-right: none;
            }

            button{
                width: 40px;
                border-top: 3px solid $main-green-colour;
                border-bottom: 3px solid $main-green-colour;
                border-left: none;
                border-right: 3px solid $main-green-colour;
                background-color: white;
                :hover{
                    color: $main-green-colour;
                }
            }

        }

        h2{
            font-family: $base-headings; 
         }
    }

    @media only screen and (max-width: $media_query_large_tablet) {

        .productSectionContainerHeaderForm{
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 20px;
        }
    
    }
}
