@import '../core/variables';

.product_section{
    width: 100%;
    height: 250px;

    .product_section_container_header_form{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0px 25px;

        form{
            display: flex;
            flex-direction: row;

            input{
                height: 35px;
                border: 4px solid $main-pink-colour;
                background: none;
                font-size: 18px;
                background-color: $main-pink-colour;
                color: white;
                $base-front: 'Lato', sans-serif; 
            }:hover{
                background-color: white;
                color: $main-pink-colour;
            }

            select{
                text-align: center;
                width: 190px;
                background: none;
                font-size: 18px;
                color: $main-pink-colour;
                border: 4px solid $main-pink-colour;
                border-right: none;
                $base-front: 'Lato', sans-serif; 
            }
        }

        h2{
            font-family: $base-headings;
        }
    }

    
}