@import '../core/media_query';
@import '../images/pexels-photo-13131123.jpeg';

.mainLoginPage{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 600px;


    .imageContainer{
        height: inherit;
        width: 60%;

        img{
            width: 100%;
            object-fit: cover;
            height: inherit;
        }
    }

    .loginContainer{
        display: flex;
        width: 40%;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h2{
            font-family: $base-headings;
        }
        .errorContainer{
            text-align: center;
            padding: 10px 0px;
            i{
                color: red;
            }
            .errorMessage{
                font-family: $base-front;
                color: red;
                padding: 2px 0px;
                margin: 0px;
            }
        }
        

        form{
            display: flex;
            flex-direction: column;
            justify-content: center;

            input{
                height: 30px;
                width: 180px;
                font-family: $base-front;
                font-size: 16px;
                margin: 10px 0px;
                border: 4px solid $main-green-colour;
            }

            .submit{
                background-color: $main-green-colour;
                color: white;
                width: 192px;
                &:hover{
                    background-color: white;
                    color: $main-green-colour;
                }
            }

            .feelingLucky{
                background-color: $main-purple-colour;
                color: white;
                width: 192px;
                border: 4px solid $main-purple-colour;
                &:hover{
                    background-color: white;
                    color: $main-purple-colour;
                }
            }
        }
    }

}

@media only screen and (max-width: $media_query_xlarge_tablet){
    .mainLoginPage{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url("../images/pexels-photo-13131123.jpeg");
        background-position: center;
        background-size: cover;
        background-repeat: none;

        .imageContainer{
            display: none;
        }

        .loginContainer{
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            width: 280px;
            padding-bottom: 20px;
        }
       
    }
}