@import '../core/variables';

.contaner_boreder{

background-color: #F2F1F0;  
padding: 30px 0px;
margin: 0px 25px;

.contaner_product{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 25px;
    column-gap: 15px;

   
    button{
        background-color: white;
        border: none;
        padding: 0px;
        text-align: left;

    .product_card{

        width: 200px;
        box-sizing: content-box;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        cursor: pointer;
        overflow: hidden;
    
        img{
            width: 100%;
            height: 200px;
            z-index: 0;
            box-sizing: border-box;
            transition: 0.5s all ease-in-out;
            border: 4px solid white;
        }

        img:hover{
           transform: scale(1.2);
        }

        .product_card_info{

            margin-top: 15px;
            margin-bottom: 7.5px;
            z-index: 2;
            position: relative;

            #item_header{
                font-size: 16px;
            }

            .rating_product_container{
                display: flex;
                align-items: center;
                flex-direction: row;
                padding: 3px 10px;
            }

            #number_of_ratings{
                margin: 0px;
                padding: 0px 7px;
            }
            
            p{
                font-family: $base-front;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin: 0px;
                padding: 1.5px 10px;
            }
        }
    }
}
}
}