html {
  margin: 0px;
}

body {
  margin: 0px;
}

p {
  color: black;
}

.contanerBoreder {
  background-color: #F2F1F0;
  padding: 30px 0px;
  margin: 0px 25px;
  margin-bottom: 25px;
}
.contanerBoreder .contanerProduct {
  display: grid;
  box-sizing: content-box;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  row-gap: 25px;
  -moz-column-gap: 10px;
       column-gap: 10px;
  justify-content: center;
  margin: 0px 10px;
}
.contanerBoreder .contanerProduct form {
  display: flex;
  justify-content: center;
}
.contanerBoreder .contanerProduct form button {
  background-color: white;
  border: none;
  padding: 0px;
  text-align: left;
}
.contanerBoreder .contanerProduct form button .productCard {
  width: 200px;
  box-sizing: content-box;
  box-shadow: rgba(69, 69, 92, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
  overflow: hidden;
}
.contanerBoreder .contanerProduct form button .productCard img {
  width: 100%;
  height: 200px;
  z-index: 0;
  box-sizing: border-box;
  transition: 0.5s all ease-in-out;
  border: 4px solid white;
}
.contanerBoreder .contanerProduct form button .productCard img:hover {
  transform: scale(1.2);
}
.contanerBoreder .contanerProduct form button .productCard .productCardInfo {
  margin-top: 15px;
  margin-bottom: 7.5px;
  z-index: 2;
  position: relative;
}
.contanerBoreder .contanerProduct form button .productCard .productCardInfo #itemHeader {
  font-size: 16px;
}
.contanerBoreder .contanerProduct form button .productCard .productCardInfo .ratingProductContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 3px 10px;
}
.contanerBoreder .contanerProduct form button .productCard .productCardInfo #numberOfRatings {
  margin: 0px;
  padding: 0px 7px;
}
.contanerBoreder .contanerProduct form button .productCard .productCardInfo p {
  font-family: "Lato", sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0px;
  padding: 1.5px 10px;
}

@media only screen and (max-width: 600px) {
  .contanerBoreder {
    margin: 0px 0px;
    background-color: white;
  }
  .contanerBoreder .contanerProduct {
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 25px;
  }
  .contanerBoreder .contanerProduct form button {
    background-color: white;
    border: none;
    padding: 0px;
    text-align: left;
  }
  .contanerBoreder .contanerProduct form button .productCard {
    width: 180px;
    box-sizing: content-box;
    box-shadow: rgba(69, 69, 92, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
    overflow: hidden;
  }
  .contanerBoreder .contanerProduct form button .productCard img {
    width: 100%;
    height: 200px;
    z-index: 0;
    box-sizing: border-box;
    transition: 0.5s all ease-in-out;
    border: 4px solid white;
  }
  .contanerBoreder .contanerProduct form button .productCard img:hover {
    transform: scale(1.2);
  }
  .contanerBoreder .contanerProduct form button .productCard .productCardInfo {
    margin-top: 15px;
    margin-bottom: 7.5px;
    z-index: 2;
    position: relative;
  }
  .contanerBoreder .contanerProduct form button .productCard .productCardInfo #itemHeader {
    font-size: 16px;
  }
  .contanerBoreder .contanerProduct form button .productCard .productCardInfo .ratingProductContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 3px 10px;
  }
  .contanerBoreder .contanerProduct form button .productCard .productCardInfo #numberOfRatings {
    margin: 0px;
    padding: 0px 7px;
  }
  .contanerBoreder .contanerProduct form button .productCard .productCardInfo p {
    font-family: "Lato", sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0px;
    padding: 1.5px 10px;
  }
}
html {
  margin: 0px;
}

body {
  margin: 0px;
}

p {
  color: black;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-bottom: 15px;
}
nav .dropDownContainer {
  display: none;
  margin-right: 5px;
  position: relative;
}
nav .dropDownContainer .fa-bars {
  padding: 10px 0px;
}
nav .dropDownContainer .dropDownListOpation {
  display: none;
  position: absolute;
  right: 0px;
  top: -10px;
  z-index: 1;
  width: 200px;
  height: auto;
  margin: 0px;
  padding: 10px;
  background-color: #F2F1F0;
}
nav .dropDownContainer .dropDownListOpation .dropDownLink {
  display: block;
  padding: 2.5px 0px;
  font-size: 22px;
}
nav .dropDownContainer .dropDownListOpation .dropDownLink input {
  margin: 0px;
  padding: 0px;
  background: #F2F1F0;
  font-size: 22px;
}
nav .dropDownContainer:hover .dropDownListOpation {
  display: block;
}
nav ul {
  margin: 0px 20px;
  padding: 0px;
}
nav ul li {
  display: inline;
  margin: 0px 12px;
  font-family: "Roboto Mono", monospace;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  color: black;
}
nav ul li form {
  display: inline;
}
nav ul li form input {
  background-color: white;
  border: none;
  font-size: 18px;
  font-family: "Roboto Mono", monospace;
}
nav ul li a {
  text-decoration: none;
  color: black;
}
nav ul :hover {
  color: #FFB1DB;
}
nav img {
  width: 60px;
}

@media only screen and (max-width: 750px) {
  ul {
    display: none;
  }
  .dropDownContainer {
    display: block !important;
  }
}
.basketContainer {
  width: 100%;
}
.basketContainer .basketMessage {
  height: 120px;
  margin: 50px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F2F1F0;
  font-family: "Lato", sans-serif;
}
.basketContainer .basketMessage p {
  margin: 5px 0px;
  padding: 0px;
  font-family: "Lato", sans-serif;
}

.basketListContainer {
  display: flex;
  flex-direction: column;
  margin: 20px 25px;
  background-color: lightgray;
}
.basketListContainer .basketItem {
  height: 220px;
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 20px 20px 20px 20px;
}
@media only screen and (max-width: 800px) {
  .basketListContainer .basketItem {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.basketListContainer .basketItem .basketImage img {
  background-color: white;
  height: 100%;
  width: 280px;
  box-sizing: border-box;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 5px;
  border: 5px solid white;
}
.basketListContainer .basketItem .basketItemContainer {
  width: 100%;
  box-sizing: border-box;
}
@media only screen and (max-width: 800px) {
  .basketListContainer .basketItem .basketItemContainer {
    margin-bottom: 25px;
  }
}
.basketListContainer .basketItem .basketItemContainer .basketItemData {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}
.basketListContainer .basketItem .basketItemContainer .basketItemData:hover > .basketNavigation {
  animation-name: navBar;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
.basketListContainer .basketItem .basketItemContainer .basketItemData .basketInformation {
  margin: 0px;
  padding: 0px;
  width: 100%;
}
@media only screen and (max-width: 800px) {
  .basketListContainer .basketItem .basketItemContainer .basketItemData .basketInformation {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.basketListContainer .basketItem .basketItemContainer .basketItemData .basketInformation h2 {
  font-family: "Lato", sans-serif;
}
@media only screen and (max-width: 800px) {
  .basketListContainer .basketItem .basketItemContainer .basketItemData .basketInformation h2 {
    margin: 0px;
    text-align: center;
  }
}
.basketListContainer .basketItem .basketItemContainer .basketItemData .basketInformation p {
  font-family: "Lato", sans-serif;
}
.basketListContainer .basketItem .basketItemContainer .basketItemData .basketInformation .basketNavigationDeleteSmallScreen {
  display: none;
  margin-top: 15px;
}
.basketListContainer .basketItem .basketItemContainer .basketItemData .basketInformation .basketNavigationDeleteSmallScreen button {
  background-color: white;
  border: none;
  cursor: pointer;
}
.basketListContainer .basketItem .basketItemContainer .basketItemData .basketInformation .basketNavigationDeleteSmallScreen button i {
  color: red;
}
@media only screen and (max-width: 800px) {
  .basketListContainer .basketItem .basketItemContainer .basketItemData .basketInformation .basketNavigationDeleteSmallScreen {
    display: block;
  }
}
.basketListContainer .basketItem .basketItemContainer .basketItemData .basketInformation .fullFormContainer {
  display: flex;
  flex-direction: row;
}
.basketListContainer .basketItem .basketItemContainer .basketItemData .basketInformation .fullFormContainer button {
  display: inline;
  height: 45px;
  width: 45px;
  background: white;
}
.basketListContainer .basketItem .basketItemContainer .basketItemData .basketInformation .fullFormContainer button:hover {
  background-color: #75A681;
  color: white;
}
.basketListContainer .basketItem .basketItemContainer .basketItemData .basketInformation .fullFormContainer .addButton {
  border-left: 4px solid #75A681;
  border-top: 4px solid #75A681;
  border-bottom: 4px solid #75A681;
  border-right: none;
}
.basketListContainer .basketItem .basketItemContainer .basketItemData .basketInformation .fullFormContainer .minusButton {
  border-right: 4px solid #75A681;
  border-top: 4px solid #75A681;
  border-bottom: 4px solid #75A681;
  border-left: none;
}
.basketListContainer .basketItem .basketItemContainer .basketItemData .basketInformation .fullFormContainer form {
  position: relative;
  height: 45px;
  display: inline-flex;
  flex-direction: row;
}
.basketListContainer .basketItem .basketItemContainer .basketItemData .basketInformation .fullFormContainer form .submitButtonStyle {
  border-right: solid #75A681 4px;
  border-left: none;
  border-top: solid #75A681 4px;
  border-bottom: solid #75A681 4px;
  background: white;
}
.basketListContainer .basketItem .basketItemContainer .basketItemData .basketInformation .fullFormContainer form .submitButtonStyle:hover {
  background-color: #75A681;
  color: white;
}
.basketListContainer .basketItem .basketItemContainer .basketItemData .basketInformation .fullFormContainer form .quantityValue {
  width: 45px;
  text-align: center;
  border-right: none;
  border-top: solid #75A681 4px;
  border-left: solid #75A681 4px;
  border-bottom: solid #75A681 4px;
  font-size: 16px;
}
.basketListContainer .basketItem .basketItemContainer .basketItemData .basketNavigation {
  display: flex;
  width: 0px;
  z-index: 1;
  animation-name: noanimation;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  overflow: hidden;
  height: inherit;
  justify-content: center;
  align-items: center;
  background-color: #F2F1F0;
}
@media only screen and (max-width: 800px) {
  .basketListContainer .basketItem .basketItemContainer .basketItemData .basketNavigation {
    display: none;
  }
}
@keyframes navBar {
  from {
    width: 0px;
  }
  to {
    width: 100px;
  }
}
@keyframes noanimation {
  from {
    width: 100px;
  }
  to {
    width: 0px;
  }
}
.basketListContainer .basketItem .basketItemContainer .basketItemData .basketNavigation button {
  height: 45px;
  width: 45px;
  background: #F2F1F0;
  border: none;
  color: red;
  cursor: pointer;
}

body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.basketCheckout {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0px 25px;
}
.basketCheckout .innerBasketCheckout {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media only screen and (max-width: 650px) {
  .basketCheckout .innerBasketCheckout {
    display: block;
  }
}
.basketCheckout .innerBasketCheckout p {
  font-family: "Lato", sans-serif;
  font-size: 16px;
}
.basketCheckout .innerBasketCheckout button {
  border: 4px solid #75A681;
  height: 45px;
  width: 120px;
  background: white;
  font-size: 16px;
}
.basketCheckout .innerBasketCheckout button:hover {
  background: #75A681;
  color: white;
}
.basketCheckoutBottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 25px;
}
.basketCheckoutBottom .innerBasketCheckout {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media only screen and (max-width: 650px) {
  .basketCheckoutBottom .innerBasketCheckout {
    display: block;
  }
}
.basketCheckoutBottom .innerBasketCheckout p {
  font-family: "Lato", sans-serif;
  font-size: 16px;
}
.basketCheckoutBottom .innerBasketCheckout button {
  border: 4px solid #75A681;
  height: 45px;
  width: 120px;
  background: white;
  font-size: 16px;
}
.basketCheckoutBottom .innerBasketCheckout button:hover {
  background: #75A681;
  color: white;
}

footer {
  width: 100%;
  background-color: #75A681;
}
footer .footerContainer {
  margin: 0px 25px;
  padding: 25px 0px;
}
footer .footerContainer h2 {
  font-family: "Roboto Mono", monospace;
  margin: 0px;
  padding: 0px;
  color: white;
}
footer .footerContainer .footerContainerLists {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 180px;
       column-gap: 180px;
  margin-top: 10px;
}
footer .footerContainer .footerContainerLists ul {
  margin: 0px;
  padding: 0px;
}
footer .footerContainer .footerContainerLists ul .footerListHeader {
  font-size: 18px;
  text-decoration: underline;
  margin-bottom: 5px;
}
footer .footerContainer .footerContainerLists ul li {
  list-style: none;
  font-family: "Lato", sans-serif;
  padding: 2.5px 0px;
  color: white;
  font-size: 14px;
}
@media only screen and (max-width: 900px) {
  footer .footerContainer .footerContainerLists {
    -moz-column-gap: 0px;
         column-gap: 0px;
    justify-content: space-between;
  }
  footer .footerContainer .footerContainerLists .footerInfoList {
    width: 147px;
    flex-grow: 1;
  }
  footer .footerContainer .footerContainerLists .footerInfoList ul {
    display: block;
  }
}
@media only screen and (max-width: 500px) {
  footer .footerContainer .footerContainerLists {
    flex-wrap: wrap;
  }
}/*# sourceMappingURL=basket.css.map */