html {
  margin: 0px;
}

body {
  margin: 0px;
}

p {
  color: black;
}

.contaner_boreder {
  background-color: #F2F1F0;
  padding: 30px 0px;
  margin: 0px 25px;
  margin-bottom: 25px;
}
.contaner_boreder .contaner_product {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 25px;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.contaner_boreder .contaner_product button {
  background-color: white;
  border: none;
  padding: 0px;
  text-align: left;
}
.contaner_boreder .contaner_product button .product_card {
  width: 200px;
  box-sizing: content-box;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
  overflow: hidden;
}
.contaner_boreder .contaner_product button .product_card img {
  width: 100%;
  height: 200px;
  z-index: 0;
  box-sizing: border-box;
  transition: 0.5s all ease-in-out;
  border: 4px solid white;
}
.contaner_boreder .contaner_product button .product_card img:hover {
  transform: scale(1.2);
}
.contaner_boreder .contaner_product button .product_card .product_card_info {
  margin-top: 15px;
  margin-bottom: 7.5px;
  z-index: 2;
  position: relative;
}
.contaner_boreder .contaner_product button .product_card .product_card_info #item_header {
  font-size: 16px;
}
.contaner_boreder .contaner_product button .product_card .product_card_info .rating_product_container {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 3px 10px;
}
.contaner_boreder .contaner_product button .product_card .product_card_info #number_of_ratings {
  margin: 0px;
  padding: 0px 7px;
}
.contaner_boreder .contaner_product button .product_card .product_card_info p {
  font-family: "Lato", sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0px;
  padding: 1.5px 10px;
}

html {
  margin: 0px;
}

body {
  margin: 0px;
}

p {
  color: black;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-bottom: 15px;
}
nav ul {
  margin: 0px 20px;
  padding: 0px;
}
nav ul li {
  display: inline;
  margin: 0px 12px;
  font-family: "Roboto Mono", monospace;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  color: black;
}
nav ul li form {
  display: inline;
}
nav ul li form input {
  background-color: white;
  border: none;
  font-size: 18px;
  font-family: "Roboto Mono", monospace;
}
nav ul li a {
  text-decoration: none;
  color: black;
}
nav ul :hover {
  color: #FFB1DB;
}
nav img {
  width: 5%;
}

.basket_container {
  width: 100%;
}
.basket_container .basket_message {
  height: 120px;
  margin: 50px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F2F1F0;
  font-family: "Lato", sans-serif;
}
.basket_container .basket_message p {
  margin: 5px 0px;
  padding: 0px;
}

.basket_list_container {
  display: flex;
  flex-direction: column;
  margin: 20px 25px;
  padding-bottom: 20px;
  background-color: lightgray;
}
.basket_list_container .basket_item {
  height: 220px;
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 20px 20px 0px 20px;
}
.basket_list_container .basket_item .basket_image img {
  background-color: white;
  height: 100%;
  width: 280px;
  box-sizing: border-box;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 5px;
  border: 5px solid white;
}
.basket_list_container .basket_item .basket_item_container {
  width: 100%;
}
.basket_list_container .basket_item .basket_item_container .basket_item_data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}
.basket_list_container .basket_item .basket_item_container .basket_item_data:hover > .basket_navigation {
  animation-name: navBar;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
.basket_list_container .basket_item .basket_item_container .basket_item_data .basket_information {
  margin: 0px;
  padding: 0px;
}
.basket_list_container .basket_item .basket_item_container .basket_item_data .basket_information h2 {
  font-family: "Lato", sans-serif;
  overflow: hidden;
}
.basket_list_container .basket_item .basket_item_container .basket_item_data .basket_information p {
  font-family: "Lato", sans-serif;
}
.basket_list_container .basket_item .basket_item_container .basket_item_data .basket_information button {
  display: inline;
  height: 45px;
  width: 45px;
  border: 4px solid #75A681;
  background: white;
}
.basket_list_container .basket_item .basket_item_container .basket_item_data .basket_information button:hover {
  background-color: #75A681;
  color: white;
}
.basket_list_container .basket_item .basket_item_container .basket_item_data .basket_information form {
  top: 1px;
  position: relative;
  height: 45px;
  display: inline-flex;
}
.basket_list_container .basket_item .basket_item_container .basket_item_data .basket_information form .submitButtonStyle {
  border-right: solid #75A681 4px;
  border-left: none;
  border-top: solid #75A681 4px;
  border-bottom: solid #75A681 4px;
  background: white;
}
.basket_list_container .basket_item .basket_item_container .basket_item_data .basket_information form .submitButtonStyle:hover {
  background-color: #75A681;
  color: white;
}
.basket_list_container .basket_item .basket_item_container .basket_item_data .basket_information form .quantityValue {
  width: 45px;
  text-align: center;
  border-right: none;
  border-top: solid #75A681 4px;
  border-left: solid #75A681 4px;
  border-bottom: solid #75A681 4px;
  font-size: 16px;
}
.basket_list_container .basket_item .basket_item_container .basket_item_data .basket_navigation {
  display: flex;
  width: 0px;
  animation-name: noanimation;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  overflow: hidden;
  height: inherit;
  justify-content: center;
  align-items: center;
  background-color: #F2F1F0;
}
@keyframes navBar {
  from {
    width: 0px;
  }
  to {
    width: 100px;
  }
}
@keyframes noanimation {
  from {
    width: 100px;
  }
  to {
    width: 0px;
  }
}
.basket_list_container .basket_item .basket_item_container .basket_item_data .basket_navigation button {
  height: 45px;
  width: 45px;
  background: #F2F1F0;
  border: none;
  color: red;
  cursor: pointer;
}

.basket_checkout {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0px 25px;
}
.basket_checkout .inner_Basket_checkout {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.basket_checkout .inner_Basket_checkout p {
  font-family: "Lato", sans-serif;
  font-size: 16px;
}
.basket_checkout .inner_Basket_checkout button {
  border: 4px solid #75A681;
  height: 45px;
  width: 120px;
  background: white;
  font-size: 16px;
}
.basket_checkout .inner_Basket_checkout button:hover {
  background: #75A681;
  color: white;
}

.basket_checkout_bottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 25px;
}
.basket_checkout_bottom .inner_Basket_checkout {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.basket_checkout_bottom .inner_Basket_checkout p {
  font-family: "Lato", sans-serif;
  font-size: 16px;
}
.basket_checkout_bottom .inner_Basket_checkout button {
  border: 4px solid #75A681;
  height: 45px;
  width: 120px;
  background: white;
  font-size: 16px;
}
.basket_checkout_bottom .inner_Basket_checkout button:hover {
  background: #75A681;
  color: white;
}

footer {
  width: 100%;
  background-color: #75A681;
}
footer .footerContainer {
  margin: 0px 25px;
  padding: 25px 0px;
}
footer .footerContainer h2 {
  font-family: "Roboto Mono", monospace;
  margin: 0px;
  padding: 0px;
  color: white;
}
footer .footerContainer .footerContainerLists {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 180px;
       column-gap: 180px;
  margin-top: 10px;
}
footer .footerContainer .footerContainerLists ul {
  margin: 0px;
  padding: 0px;
}
footer .footerContainer .footerContainerLists ul .footerListHeader {
  font-size: 18px;
  text-decoration: underline;
  margin-bottom: 5px;
}
footer .footerContainer .footerContainerLists ul li {
  list-style: none;
  font-family: "Lato", sans-serif;
  padding: 2.5px 0px;
  color: white;
  font-size: 14px;
}

@media only screen and (max-width: 900px) {
  .footerContainerLists {
    -moz-column-gap: 0px !important;
         column-gap: 0px !important;
    justify-content: space-between !important;
  }
  .footerContainerLists .footerInfoList {
    width: 147px;
    flex-grow: 1;
  }
}
@media only screen and (max-width: 500px) {
  .footerContainerLists {
    flex-wrap: wrap;
  }
}/*# sourceMappingURL=basket.css.map */