// fonts 

$base-front: 'Lato', sans-serif; 
$base-headings: 'Roboto Mono', monospace;

// colours

$main-pink-colour: #FFB1DB;
$main-purple-colour: #B7A6E0;
$main-green-colour: #75A681;

// second colours 

$main-grey: #F2F1F0;