<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/assets/main.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Roboto+Mono:wght@100;400&display=swap" rel="stylesheet">
    <title>Home Page</title>
</head>
<body>
    <nav>
        <ul>
            <li>About us</li>
            <li>Whats new</li>
        </ul>
        <img src="../../public/assets/images/All_in_one_logo.png">
        <ul>
            <li>Sign In</li>
            <li>Basket</li>
        </ul>
    </nav>
    <div class="header_container">
        <h2>All Products</h2>
    </div>
<div class="contaner_product">
    <% data.forEach((item) => {  %>
        <div class="product_card">
            <img src="<%= item['image'] %>"> 
            <div class="product_card_info">
                <p><%= item['title'] %></p>
                <p>Rating <%= item['rating']['rate'] %></p>
                <p>£ <%= item['price']%></p>
            </div>
        </div>
    <%  }) %>
</div>
</body>
</html>